<div class="col-md-4">
  <label for="address">Blk / Lot / Street</label>
  <input
    type="text"
    class="form-control"
    id="address"
    value="{{this.address}}"
    name="address"
    placeholder="Address"
    required
  />
</div>
<div class="col-md-4">
  <label for="barangay">Barangay</label>
  <input
    type="text"
    class="form-control"
    id="barangay"
    value="{{this.barangay}}"
    name="barangay"
    placeholder="Barangay"
    required
  />
</div>
<div class="col-md-4">
  <label for="city">City</label>
  <input type="text" class="form-control" id="city" value="{{this.city}}" name="city" placeholder="City" required />
</div>
<div class="col-md-4">
  <label for="province">Province</label>
  <input
    type="text"
    class="form-control"
    id="province"
    value="{{this.province}}"
    name="province"
    placeholder="Province"
    required
  />
</div>